.form-component {
  .form-container {
    text-align: center;
  }
  form {
    max-width: 600px;
    padding: 0 42px;
    margin: 0 auto;
    
    input[type="text"] {
      padding: 1px 10px;
      border: none;
      font-size: 1.3rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      display: block;
      margin: 0 auto;
      outline: none;
      text-align: center;
    }
    button[type="button"] {
      line-height: 1;
      padding: 1px 10px;
      border: none;
      background: $color-1;
      color: $white;
      font-size: 1rem;
      cursor: pointer;
      z-index: 10;
      position: relative;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      &:hover {
        background: $black;
      }
    }
  }
  .btn-sort-container {
    margin: 8px auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

    #goodToBad {
      border-radius: 10px 0 0 10px;
    }
    #badToGood {
      border-radius: 0 10px 10px 0;
    }
    #goodToBad,
    #badToGood {
      background: $color-1;
      width: 110px;
      transition: 0.3s;
      position: relative;

      &:hover {
        background: $black;
      }
    }
    #goodToBad span {
      transform: translateY(-50%) rotate(-90deg);
      right: 18px;
    }
    #badToGood span {
      transform: translateY(-50%) rotate(90deg);
      left: 16px;
    }
    #goodToBad span,
    #badToGood span {
      position: absolute;
      top: 50%;
    }
  }
  
}
.btn-group{
  :hover{
    color: red !important;
  }
}
.btn-checkbox{
  color: whitesmoke;
  line-height: 1;
  margin: 0 6px;
}
